.container {
  --code-editor-line-counter-width: 40px;
  border: 1px solid var(--white20a);
  border-radius: 6px;
}

.toolbar {
  border-bottom: 1px solid var(--white20a);
  position: sticky;
  top: -15px;
  background: var(--SmartThemeChatTintColor);
  padding: 8px 8px 8px calc(var(--code-editor-line-counter-width) + 8px);
  border-radius: 6px 6px 0 0;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 1px;
}

.main {
  display: flex;
  align-items: center;
  gap: 12px;
}

.aside {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.actionButton {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  color: currentColor;
  cursor: pointer;
  opacity: .5;

  &:hover {
    opacity: 1;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}