
.actions {
  position: sticky;
  bottom: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, var(--assistant-chats-message-background), transparent);
    pointer-events: none;
  }
}

.actions, .actionsMain, .actionsAside {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actionsAside {
  margin-left: auto;
}

.swipe {
  font-size: 10px;
  opacity: .5;
  text-align: center;
  color: var(--SmartThemeBodyColor);
}

.delete {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
