.container {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  @include overflow-scroll();
}

.head {
  display: flex;
  align-items: center;
  gap: 15px;
}

.import {
  flex: 1;
}

.block {
  position: relative;
}

.blockRow {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px;
}

.blockOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border: 1px solid var(--white30a);
  border-radius: 6px;

  &:hover {
    border-color: var(--white50a);
  }
}

.blockActive {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.blockTitle {
  min-width: 0;
}

.blockActions {
  flex-shrink: 0;
  margin-left: auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.muted {
  opacity: .5;
  font-style: italic;
}