.container {
  height: 100%;
  border-right: 1px solid var(--white20a);
  width: var(--assistant-chats-sidebar-width);
  background: var(--assistant-chats-message-background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.back {
  position: static;
  top: 0;
  display: flex;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid var(--white20a);
  padding: 0 12px;

  &:hover {
    background: var(--white10a);
  }

  &:active {
    background: var(--white20a);
  }
}

.createButton {
  padding: 8px;
}

.list {
  flex: 1;
  @include overflow-scroll();
}
