.input {
  appearance: none;
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0 12px;
  height: 36px;
  border: 1px solid var(--white30a);
  border-radius: 6px;
  flex: 1;

  &[readonly], &[disabled] {
    background-color: var(--grey5020a);
    border-color: var(--grey5050a);
    cursor: not-allowed;
  }

  &:focus {
    outline: 0;
    border-color: var(--white50a);
  }
}
