
pre code.hljs {
    display: grid;
    font-size: 14px;
    line-height: 1.6;
}

pre,
pre code {
    background-color: var(--color-code-background);

    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.2;
    tab-size: 2;
    hyphens: none;
}

pre {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-text-weak);
    border-radius: 5px;

    overflow-x: auto;
}

pre > code {
    float: left;
    min-width: 100%;
}

.code-line {
    min-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: -12px;
    margin-right: -12px;
    border-left: 4px solid transparent; /* prepare for highlighted code-lines */

    display: inline-block;
}

.code-line.inserted {
    background-color: var(--color-inserted-line); /* inserted code-line (+) */
}

.code-line.deleted {
    background-color: var(--color-deleted-line); /* deleted code-line (-) */
}

.highlighted-code-line {
    background-color: var(--color-highlighted-line);
    border-left: 4px solid var(--color-highlighted-line-indicator);
}

.numbered-code-line::before {
    content: attr(data-line-number);

    margin-left: -8px;
    margin-right: 16px;
    width: 1rem;
    color: var(--color-text-weak);
    text-align: right;

    display: inline-block;
}


/*code[class*="language-"] {*/
/*    background: hsl(220, 13%, 18%);*/
/*    color: hsl(220, 14%, 71%);*/
/*    text-shadow: 0 1px rgba(0, 0, 0, 0.3);*/
/*    font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;*/
/*    direction: ltr;*/
/*    text-align: left;*/
/*    white-space: pre;*/
/*    word-spacing: normal;*/
/*    word-break: normal;*/
/*    line-height: 1.5;*/
/*    -moz-tab-size: 2;*/
/*    -o-tab-size: 2;*/
/*    tab-size: 2;*/
/*    -webkit-hyphens: none;*/
/*    -moz-hyphens: none;*/
/*    -ms-hyphens: none;*/
/*    hyphens: none;*/
/*}*/

/*pre[class*="language-"] {*/
/*    background: hsl(220, 13%, 18%);*/
/*    color: hsl(220, 14%, 71%);*/
/*    text-shadow: 0 1px rgba(0, 0, 0, 0.3);*/
/*    font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;*/
/*    direction: ltr;*/
/*    text-align: left;*/
/*    white-space: pre;*/
/*    word-spacing: normal;*/
/*    word-break: normal;*/
/*    line-height: 1.5;*/
/*    -moz-tab-size: 2;*/
/*    -o-tab-size: 2;*/
/*    tab-size: 2;*/
/*    -webkit-hyphens: none;*/
/*    -moz-hyphens: none;*/
/*    -ms-hyphens: none;*/
/*    hyphens: none;*/
/*    padding: 1em;*/
/*    margin: 0.5em 0;*/
/*    overflow: auto;*/
/*    border-radius: 0.3em;*/
/*}*/

/*code[class*="language-"]::-moz-selection {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: inherit;*/
/*    text-shadow: none;*/
/*}*/

/*code[class*="language-"] *::-moz-selection {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: inherit;*/
/*    text-shadow: none;*/
/*}*/

/*pre[class*="language-"] *::-moz-selection {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: inherit;*/
/*    text-shadow: none;*/
/*}*/

/*code[class*="language-"]::selection {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: inherit;*/
/*    text-shadow: none;*/
/*}*/

/*code[class*="language-"] *::selection {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: inherit;*/
/*    text-shadow: none;*/
/*}*/

/*pre[class*="language-"] *::selection {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: inherit;*/
/*    text-shadow: none;*/
/*}*/

/*:not(pre) > code[class*="language-"] {*/
/*    padding: 0.2em 0.3em;*/
/*    border-radius: 0.3em;*/
/*    white-space: normal;*/
/*}*/

/*comment {*/
/*    color: hsl(220, 10%, 40%);*/
/*    font-style: italic;*/
/*}*/

/*.prolog {*/
/*    color: hsl(220, 10%, 40%);*/
/*}*/

/*.cdata {*/
/*    color: hsl(220, 10%, 40%);*/
/*}*/

/*.doctype {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.punctuation {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.entity {*/
/*    color: hsl(220, 14%, 71%);*/
/*    cursor: help;*/
/*}*/

/*.attr-name {*/
/*    color: hsl(29, 54%, 61%);*/
/*}*/

/*.class-name {*/
/*    color: hsl(29, 54%, 61%);*/
/*}*/

/*.boolean {*/
/*    color: hsl(29, 54%, 61%);*/
/*}*/

/*.constant {*/
/*    color: hsl(29, 54%, 61%);*/
/*}*/

/*.number {*/
/*    color: hsl(29, 54%, 61%);*/
/*}*/

/*.atrule {*/
/*    color: hsl(29, 54%, 61%);*/
/*}*/

/*.keyword {*/
/*    color: hsl(286, 60%, 67%);*/
/*}*/

/*.property {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.tag {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.symbol {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.deleted {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.important {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.selector {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.string {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.char {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.builtin {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.inserted {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.regex {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.attr-value {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.attr-value > .token.punctuation {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.variable {*/
/*    color: hsl(207, 82%, 66%);*/
/*}*/

/*.operator {*/
/*    color: hsl(207, 82%, 66%);*/
/*}*/

/*.function {*/
/*    color: hsl(207, 82%, 66%);*/
/*}*/

/*.url {*/
/*    color: hsl(187, 47%, 55%);*/
/*}*/

/*.attr-value > .token.punctuation.attr-equals {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.special-attr > .token.attr-value > .token.value.css {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.language-css .token.selector {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.language-css .token.property {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.language-css .token.function {*/
/*    color: hsl(187, 47%, 55%);*/
/*}*/

/*.language-css .token.url > .token.function {*/
/*    color: hsl(187, 47%, 55%);*/
/*}*/

/*.language-css .token.url > .token.string.url {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.language-css .token.important {*/
/*    color: hsl(286, 60%, 67%);*/
/*}*/

/*.language-css .token.atrule .token.rule {*/
/*    color: hsl(286, 60%, 67%);*/
/*}*/

/*.language-javascript .token.operator {*/
/*    color: hsl(286, 60%, 67%);*/
/*}*/

/*.language-javascript .token.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {*/
/*    color: hsl(5, 48%, 51%);*/
/*}*/

/*.language-json .token.operator {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.language-json .token.null.keyword {*/
/*    color: hsl(29, 54%, 61%);*/
/*}*/

/*.language-markdown .token.url {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.language-markdown .token.url > .token.operator {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.language-markdown .token.url-reference.url > .token.string {*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.language-markdown .token.url > .token.content {*/
/*    color: hsl(207, 82%, 66%);*/
/*}*/

/*.language-markdown .token.url > .token.url {*/
/*    color: hsl(187, 47%, 55%);*/
/*}*/

/*.language-markdown .token.url-reference.url {*/
/*    color: hsl(187, 47%, 55%);*/
/*}*/

/*.language-markdown .token.blockquote.punctuation {*/
/*    color: hsl(220, 10%, 40%);*/
/*    font-style: italic;*/
/*}*/

/*.language-markdown .token.hr.punctuation {*/
/*    color: hsl(220, 10%, 40%);*/
/*    font-style: italic;*/
/*}*/

/*.language-markdown .token.code-snippet {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.language-markdown .token.bold .token.content {*/
/*    color: hsl(29, 54%, 61%);*/
/*}*/

/*.language-markdown .token.italic .token.content {*/
/*    color: hsl(286, 60%, 67%);*/
/*}*/

/*.language-markdown .token.strike .token.content {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.language-markdown .token.strike .token.punctuation {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.language-markdown .token.list.punctuation {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.language-markdown .token.title.important > .token.punctuation {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.bold {*/
/*    font-weight: bold;*/
/*}*/

/*.italic {*/
/*    font-style: italic;*/
/*}*/

/*.namespace {*/
/*    opacity: 0.8;*/
/*}*/

/*.token.tab:not(:empty):before {*/
/*    color: hsla(220, 14%, 71%, 0.15);*/
/*    text-shadow: none;*/
/*}*/

/*.token.cr:before {*/
/*    color: hsla(220, 14%, 71%, 0.15);*/
/*    text-shadow: none;*/
/*}*/

/*.token.lf:before {*/
/*    color: hsla(220, 14%, 71%, 0.15);*/
/*    text-shadow: none;*/
/*}*/

/*.token.space:before {*/
/*    color: hsla(220, 14%, 71%, 0.15);*/
/*    text-shadow: none;*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item {*/
/*    margin-right: 0.4em;*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > button {*/
/*    background: hsl(220, 13%, 26%);*/
/*    color: hsl(220, 9%, 55%);*/
/*    padding: 0.1em 0.4em;*/
/*    border-radius: 0.3em;*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > a {*/
/*    background: hsl(220, 13%, 26%);*/
/*    color: hsl(220, 9%, 55%);*/
/*    padding: 0.1em 0.4em;*/
/*    border-radius: 0.3em;*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > span {*/
/*    background: hsl(220, 13%, 26%);*/
/*    color: hsl(220, 9%, 55%);*/
/*    padding: 0.1em 0.4em;*/
/*    border-radius: 0.3em;*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:focus {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:focus {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:hover {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:focus {*/
/*    background: hsl(220, 13%, 28%);*/
/*    color: hsl(220, 14%, 71%);*/
/*}*/

/*.line-highlight.line-highlight {*/
/*    background: hsla(220, 100%, 80%, 0.04);*/
/*}*/

/*.line-highlight.line-highlight:before {*/
/*    background: hsl(220, 13%, 26%);*/
/*    color: hsl(220, 14%, 71%);*/
/*    padding: 0.1em 0.6em;*/
/*    border-radius: 0.3em;*/
/*    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);*/
/*}*/

/*.line-highlight.line-highlight[data-end]:after {*/
/*    background: hsl(220, 13%, 26%);*/
/*    color: hsl(220, 14%, 71%);*/
/*    padding: 0.1em 0.6em;*/
/*    border-radius: 0.3em;*/
/*    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);*/
/*}*/

/*pre[id].linkable-line-numbers.linkable-line-numbers span.line-numbers-rows > span:hover:before {*/
/*    background-color: hsla(220, 100%, 80%, 0.04);*/
/*}*/

/*.line-numbers.line-numbers .line-numbers-rows {*/
/*    border-right-color: hsla(220, 14%, 71%, 0.15);*/
/*}*/

/*.command-line .command-line-prompt {*/
/*    border-right-color: hsla(220, 14%, 71%, 0.15);*/
/*}*/

/*.line-numbers .line-numbers-rows > span:before {*/
/*    color: hsl(220, 14%, 45%);*/
/*}*/

/*.command-line .command-line-prompt > span:before {*/
/*    color: hsl(220, 14%, 45%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-1 {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-5 {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-9 {*/
/*    color: hsl(355, 65%, 65%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-2 {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-6 {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-10 {*/
/*    color: hsl(95, 38%, 62%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-3 {*/
/*    color: hsl(207, 82%, 66%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-7 {*/
/*    color: hsl(207, 82%, 66%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-11 {*/
/*    color: hsl(207, 82%, 66%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-4 {*/
/*    color: hsl(286, 60%, 67%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-8 {*/
/*    color: hsl(286, 60%, 67%);*/
/*}*/

/*.rainbow-braces .token.token.punctuation.brace-level-12 {*/
/*    color: hsl(286, 60%, 67%);*/
/*}*/

/*pre.diff-highlight > code .token.token.deleted:not(.prefix) {*/
/*    background-color: hsla(353, 100%, 66%, 0.15);*/
/*}*/

/*pre > code.diff-highlight .token.token.deleted:not(.prefix) {*/
/*    background-color: hsla(353, 100%, 66%, 0.15);*/
/*}*/

/*pre.diff-highlight > code .token.token.deleted:not(.prefix)::-moz-selection {*/
/*    background-color: hsla(353, 95%, 66%, 0.25);*/
/*}*/

/*pre.diff-highlight > code .token.token.deleted:not(.prefix) *::-moz-selection {*/
/*    background-color: hsla(353, 95%, 66%, 0.25);*/
/*}*/

/*pre > code.diff-highlight .token.token.deleted:not(.prefix)::-moz-selection {*/
/*    background-color: hsla(353, 95%, 66%, 0.25);*/
/*}*/

/*pre > code.diff-highlight .token.token.deleted:not(.prefix) *::-moz-selection {*/
/*    background-color: hsla(353, 95%, 66%, 0.25);*/
/*}*/

/*pre.diff-highlight > code .token.token.deleted:not(.prefix)::selection {*/
/*    background-color: hsla(353, 95%, 66%, 0.25);*/
/*}*/

/*pre.diff-highlight > code .token.token.deleted:not(.prefix) *::selection {*/
/*    background-color: hsla(353, 95%, 66%, 0.25);*/
/*}*/

/*pre > code.diff-highlight .token.token.deleted:not(.prefix)::selection {*/
/*    background-color: hsla(353, 95%, 66%, 0.25);*/
/*}*/

/*pre > code.diff-highlight .token.token.deleted:not(.prefix) *::selection {*/
/*    background-color: hsla(353, 95%, 66%, 0.25);*/
/*}*/

/*pre.diff-highlight > code .token.token.inserted:not(.prefix) {*/
/*    background-color: hsla(137, 100%, 55%, 0.15);*/
/*}*/

/*pre > code.diff-highlight .token.token.inserted:not(.prefix) {*/
/*    background-color: hsla(137, 100%, 55%, 0.15);*/
/*}*/

/*pre.diff-highlight > code .token.token.inserted:not(.prefix)::-moz-selection {*/
/*    background-color: hsla(135, 73%, 55%, 0.25);*/
/*}*/

/*pre.diff-highlight > code .token.token.inserted:not(.prefix) *::-moz-selection {*/
/*    background-color: hsla(135, 73%, 55%, 0.25);*/
/*}*/

/*pre > code.diff-highlight .token.token.inserted:not(.prefix)::-moz-selection {*/
/*    background-color: hsla(135, 73%, 55%, 0.25);*/
/*}*/

/*pre > code.diff-highlight .token.token.inserted:not(.prefix) *::-moz-selection {*/
/*    background-color: hsla(135, 73%, 55%, 0.25);*/
/*}*/

/*pre.diff-highlight > code .token.token.inserted:not(.prefix)::selection {*/
/*    background-color: hsla(135, 73%, 55%, 0.25);*/
/*}*/

/*pre.diff-highlight > code .token.token.inserted:not(.prefix) *::selection {*/
/*    background-color: hsla(135, 73%, 55%, 0.25);*/
/*}*/

/*pre > code.diff-highlight .token.token.inserted:not(.prefix)::selection {*/
/*    background-color: hsla(135, 73%, 55%, 0.25);*/
/*}*/

/*pre > code.diff-highlight .token.token.inserted:not(.prefix) *::selection {*/
/*    background-color: hsla(135, 73%, 55%, 0.25);*/
/*}*/

/*.prism-previewer.prism-previewer:before {*/
/*    border-color: hsl(224, 13%, 17%);*/
/*}*/

/*.prism-previewer-gradient.prism-previewer-gradient div {*/
/*    border-color: hsl(224, 13%, 17%);*/
/*    border-radius: 0.3em;*/
/*}*/

/*.prism-previewer-color.prism-previewer-color:before {*/
/*    border-radius: 0.3em;*/
/*}*/

/*.prism-previewer-easing.prism-previewer-easing:before {*/
/*    border-radius: 0.3em;*/
/*}*/

/*.prism-previewer.prism-previewer:after {*/
/*    border-top-color: hsl(224, 13%, 17%);*/
/*}*/

/*.prism-previewer-flipped.prism-previewer-flipped.after {*/
/*    border-bottom-color: hsl(224, 13%, 17%);*/
/*}*/

/*.prism-previewer-angle.prism-previewer-angle:before {*/
/*    background: hsl(219, 13%, 22%);*/
/*}*/

/*.prism-previewer-time.prism-previewer-time:before {*/
/*    background: hsl(219, 13%, 22%);*/
/*}*/

/*.prism-previewer-easing.prism-previewer-easing {*/
/*    background: hsl(219, 13%, 22%);*/
/*}*/

/*.prism-previewer-angle.prism-previewer-angle circle {*/
/*    stroke: hsl(220, 14%, 71%);*/
/*    stroke-opacity: 1;*/
/*}*/

/*.prism-previewer-time.prism-previewer-time circle {*/
/*    stroke: hsl(220, 14%, 71%);*/
/*    stroke-opacity: 1;*/
/*}*/

/*.prism-previewer-easing.prism-previewer-easing circle {*/
/*    stroke: hsl(220, 14%, 71%);*/
/*    fill: transparent;*/
/*}*/

/*.prism-previewer-easing.prism-previewer-easing path {*/
/*    stroke: hsl(220, 14%, 71%);*/
/*}*/

/*.prism-previewer-easing.prism-previewer-easing line {*/
/*    stroke: hsl(220, 14%, 71%);*/
/*}*/