.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.top {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.name {
  flex: 1;
}

.editorRow {
  display: flex;
  flex: 1;
  min-height: 0;
  gap: 8px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-shrink: 0;
  min-width: 140px;
}

.footer {
  margin-top: auto;
  bottom: 0;
  background: var(--SmartThemeChatTintColor);
}
