.avatar {
  display: block;
  width: var(--avatar-size);
  height: var(--avatar-size);
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.placeholder {
  background: var(--avatar-color);
}
