.codeWithLineNumbers {
  display: flex;
  align-items: flex-start;
}

.lineNumbers {
  flex-shrink: 0;
  padding-right: 1em;

  span {
    counter-increment: linenumber;

    &:before {
      content: counter(linenumber);
      display: block;
      text-align: right;
      color: #636d83;
      user-select: none;
    }
  }
}