.connectionType {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.backupActions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.icon {
  flex-shrink: 0;
}