.paragraph {
  padding: 8px;
  font-size: 16px;
  line-height: 1.45;
  //background: aliceblue;
}

.paragraphError {
  background: var(--crimson-hover);
}

.backtick {
  //font-family: var(--monoFontFamily);
  white-space: pre-wrap;
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 5px;
  background-color: var(--black70a);
  padding: 0 3px;
  line-height: var(--mainFontSize);
  color: var(--white70a);
}

.doubleAsterisk {
  font-weight: 600;
}

.asterisk {
  color: var(--SmartThemeEmColor);
  font-style: italic;
}

.quote {
  color: var(--SmartThemeQuoteColor);
}
