.row {
  padding: 2px 8px;
  display: flex;
  align-items: center;
}

.rowActive {
  .name {
    opacity: 1;
  }
}

.name {
  opacity: .5;
}

.checkbox {
  flex-shrink: 0;
  margin-left: auto;
  padding-left: 8px;
}

.content {
  white-space: pre-line;
  max-width: 500px;
  font-family: monospace;
  font-size: 12px;
}

.no {
  font-style: italic;
}

.info {
  flex-shrink: 0;
  color: var(--white50a);
  margin-right: 8px;

  svg {
    display: block;
  }
}

.muted {
  opacity: .5;
  font-style: italic;
}