:global {
  .markdown-body {
    background-color: transparent;

    .highlight pre, pre {
      padding: 0;
      background: transparent;
    }

    ol {
      list-style: decimal;
    }

    ul {
      list-style: disc;

    }

    table {
      font-size: 90%;
    }

    pre[class*="language-"] {
      padding: .4em .4em .4em 0;
      font-size: 14px;
      line-height: 1.4;
    }

    .code-line {
      display: block;
    }

    .line-number::before {
      position: sticky;
      left: 0;
      background: #2d2d2d;
      display: inline-block;
      width: 32px;
      padding-right: 8px;
      text-align: right;
      content: attr(line);
    }
  }
}
