.container {
  --assistant-chats-sidebar-width: 300px;
  --assistant-chats-message-background: var(--SmartThemeChatTintColor);
  --assistant-chats-layout-width: 848px;

  display: flex;
  padding-left: var(--assistant-chats-sidebar-width);
  height: 100vh;
  @include overflow-scroll();
}

.main {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}