.container {
  display: block;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.top {
  display: flex;
  align-items: center;
}

.label {
  display: block;
  font-size: 14px;
  padding-left: 4px;
  margin-bottom: 4px;
  color: var(--white70a);
}

.action {
  margin-left: auto;
}