.container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.tabs {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.tabsContent {
  flex: 1;
  min-height: 0;
  padding: 0;
}

.footer {
  border-top: 1px solid var(--white20a);
  background: var(--SmartThemeChatTintColor);
  padding-top: 8px;
}

.save {
  display: block;
  width: 300px;
  margin: 0 auto;
}