.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.head {
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 12px;
  font-weight: 500;
  color: var(--white50a);
  flex: 1;
}