.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.actions {
  margin-bottom: 15px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.note {
  font-size: 80%;
  opacity: .5;
  display: block;
}