.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.actions {
  margin-bottom: 15px;
}

.block {
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    height: 1px;
    background: var(--white20a);
    margin-top: 32px;
  }
}

.note {
  font-size: 80%;
  opacity: .5;
  display: block;
}